/* general */

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}
/* Home */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#introduction {
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Ibarra Real Nova", serif;
    font-size: clamp(0.5rem, 2vw, 4rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
    margin-left: clamp(3rem, 15vw, 40rem);
    margin-right: clamp(3rem, 15vw, 40rem);
}

/* components/Menu */
#menu {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#menuItems {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

.menuItem {
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Ibarra Real Nova", serif;
    font-size: clamp(3rem, 6vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}
