.top-side-line {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4rem;
    height: 50vh;
    width: 4px;
    /* background-color: green; */
    transition-duration: 900ms;
    background: linear-gradient(
        transparent,
        rgb(63, 185, 80) 93%,
        transparent 93%
    );
    transition-delay: 0ms;
    transition: opacity 0.3s, visibility 0.3s;
}

#who-bottom-side-line-content {
    position: relative;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.bottom-side-line {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 4rem;
    height: 50vh;
    width: 4px;
    /* background-color: green; */
    transition-duration: 900ms;
    background: linear-gradient(
        transparent,
        transparent 7%,
        rgb(63, 185, 80) 7%,
        rgb(63, 185, 80),
        transparent
    );
    transition: clip-path 0.5s ease-out;
}

/* .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
        circle,
        transparent,
        transparent 50%,
        rgb(63, 185, 80) 50%
    );
    filter: blur(12px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
} */

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 47.5%;
    left: 2.65rem;
}

.icon-wrapper::before {
    content: "";
    background: radial-gradient(
        circle,
        transparent,
        transparent 50%,
        var(--super-light-purple) 50%
    );
    filter: blur(12px);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.w-wrapper {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2vw;
    flex: 1;
}

.w-bottom-right {
    font-size: 10vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    margin-right: 2vw;
    opacity: 0.5;
    color: var(--light-yellow);
    font-weight: bold;
    z-index: -1;
}

/* Ensure the FontAwesome icon is above the pseudo-element */
.fa-person-falling {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
}

.w-image {
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.position {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.position-one {
    transform: translateY(-10vh);
}

.position-two {
    transform: translateY(10vh);
}

.position-three {
    transform: translateY(0);
}

.card-font-style {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 0;
    right: 0;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-size: clamp(0.75rem, 1.75vw, 4rem);
    font-weight: 500;
    z-index: 1;
    padding-right: 0.75rem;
    /* Add font styling properties here, e.g., color, font-size, etc. */
}

.card-font-style::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 12px;
    right: 4px; /* or specific width */
    bottom: 5px; /* or specific height */
    background-color: rgba(8, 8, 4, 0.445);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: -1;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .w-wrapper {
        flex-direction: column;
        gap: 2vh;
    }
    .position {
        max-height: 225px;
    }

    .position-one {
        display: flex;
        flex-direction: row;
        flex: 1;
        transform: translateY(0);
    }

    .w-image {
        border: 4px solid white;
        border-radius: 20px;
        flex: 0.6;
        height: auto;
        overflow: hidden;
        min-width: 200px;
    }

    .position-two {
        display: flex;
        flex-direction: row;
        flex: 1;
        transform: translateY(0);
    }

    .position-three {
        display: flex;
        flex-direction: row;
        flex: 1;
        transform: translateY(0);
    }
    .card-font-style {
        font-size: clamp(1rem, 4vw, 5rem);
    }
}
