#who {
    position: relative;
    overflow: hidden;
}

#who-bottom-side-line-content {
    position: relative;
    transition: opacity 1s ease-out;
    opacity: 0;
}

/* Ensure the FontAwesome icon is above the pseudo-element */
.fa-person-falling {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
}

.border-clickable.w-image {
    background-image: radial-gradient(
        circle farthest-corner,
        rgb(255, 255, 255),
        rgb(63, 185, 80)
    );
}
